<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="flex-container">

      <div class="flex-item">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Escriba la ciudad</mat-label>
          <input required matInput placeholder="Ej. Buenos Aires" formControlName="city">
        </mat-form-field>
      </div>

      <div class="flex-item">
        <mat-checkbox 
          formControlName="includeHistory"
          class="example-margin"
          color="primary"
          >
          Incluir histórico
       </mat-checkbox>
      </div>

      <div class="flex-item consultar">
        <button 
          type="submit" 
          mat-raised-button
          color="primary"
          >
            Consultar
        </button>
      </div>

    </div>

</form>

