<div class="info-container">
    <div *ngIf="loading$ | async as loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>  
    </div>
    <div *ngIf="errorMessage$ | async as errorMessage">
        <p class="error">Ha ocurrido un error, por favor intente nuevamente</p> 
    </div>
    <div *ngIf="infoWeather$ | async as infoWeather">
        <p><span class="bold">Ciudad:</span> {{infoWeather.cityName}}</p>
        <p><span class="bold">Clima:</span> {{infoWeather.temp | temperatureFormatter}}</p>    
        <p><span class="bold">Sensación térmica:</span> {{infoWeather.fellsLike | temperatureFormatter}}</p>  
    </div>
</div>


